.container-page{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    background-color: rgb(240, 240, 240);
    text-align: center;
}
.container-choiser{
    display: inline-block;
    width: 500px;
    text-align: center;
}

.form-sellers{
    margin-top: 30px;
    display: inline-block;
    text-align: center;
}
.card{
    margin-top: 20px;
    display:block;
}
.button-container{
    text-align: center;
    margin-top: 10px;
}
.button-add-seller{
    width: 200px;
}
.datepicker{
    margin-top: 30px;
}
.daysSectionTitle{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}