.buttons-format-report-container{
    display: block;
    text-align: center;
}
.title-modal{
    font-size: 20px;
}
.close-modal{
    float: right;
}
.container{
    width: 400px;
    height: 160px;
}
.spinner-container{
    text-align: -webkit-center;
}