<div style="text-align: center;">
    <form [formGroup]="form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Desde</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="from">
            <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Hasta</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="to">
            <mat-datepicker-toggle matSuffix [for]="picker2">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <button mat-stroked-button color="primary" (click)="getAcumulatedbyDates()">
            <mat-icon>search</mat-icon>
        </button>
    </form>
</div>
<div class="buttons-actions">
    <!-- <button mat-stroked-button color="primary" (click)="confirm()">Guardar</button>
    <button mat-stroked-button color="warn" (click)="restore()">Revertir</button> -->

    <!---<button mat-stroked-button color="primary" (click)="table.search(null)">
        <mat-icon>autorenew</mat-icon>
    </button>-->
</div>
<div>
    <!-- <app-table-sales #table></app-table-sales> -->
    <app-chart-sales #chart></app-chart-sales>
</div>
<div class="cards">
    <mat-card class="card-amount">
        <h1>Venta total:</h1><br>
        <h1 style="text-align: center;"> $ {{acumulated.total?parseAmount(acumulated.total):0}}</h1>
    </mat-card>
    <mat-card class="card-amount">
        <h1>Contado total:</h1><br>
        <h1 style="text-align: center;"> $ {{acumulated.contado?parseAmount(acumulated.contado):0}}</h1>
    </mat-card>
    <mat-card class="card-amount">
        <h1>Crédito total:</h1><br>
        <h1 style="text-align: center;"> $ {{acumulated.credito?parseAmount(acumulated.credito):0}}</h1>
    </mat-card>
    <mat-card class="card-amount">
        <h1>Cobranza total:</h1><br>
        <h1 style="text-align: center;"> $ {{acumulated.cobranza?parseAmount(acumulated.cobranza):0}}</h1>
    </mat-card>
    <mat-card class="card-amount">
        <h1>Total kilos: </h1><br>
        <h1 style="text-align: center;"> $ {{acumulated.totalKg?parseAmount(acumulated.totalKg):0}}</h1>
    </mat-card>
    <mat-card class="card-amount" (click)="openListProductRank()">
        <h1>Producto más vendido: </h1><label style="text-align: center;display: block;"> {{productTop?productTop.name+"
            "+productTop.typePresentation:""}}</label>
    </mat-card>
    <mat-card class="card-amount" (click)="openListSellersRank()">
        <h1>Ranking de ventas: </h1><img src="assets/images/techblack.png" height="50px" width="50px">
    </mat-card>

</div>
