.container{
    text-align: center;
}

.buttons-sales-presales{
    margin-bottom: 20px;
    margin-top: 20px;
}
.date-picker-container{
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
}

.button-search{
    margin-left: 20px;
}
.form-row{
    display: flex;
}