

<div style="text-align: center; display: inline-block;" *ngIf="isLoading">
    <mat-spinner [radio]="70" [color]="green"></mat-spinner>
</div>
<div class="searchSeller">
    <form [formGroup]="form">
        <mat-form-field class="example-full-width">
            <mat-label>Por Nombre</mat-label>
            <input matInput type="text" formControlName="hint">
          </mat-form-field>
          <mat-icon *ngIf="!filtered" (click)="search()">search</mat-icon>
          <mat-icon *ngIf="filtered" (click)="cancelSearch()">close</mat-icon>
        </form>
    
        <form [formGroup]="form2">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Desde</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="from">
                <mat-datepicker-toggle matSuffix [for]="picker">
                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Hasta</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="to">
                <mat-datepicker-toggle matSuffix [for]="picker2">
                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
              
            </form>
    
</div>
<div *ngIf="!isLoading">
    
            <h4>Vendedores</h4>
            <div class="sellers-container">
            <mat-expansion-panel class="expansion_container" *ngFor="let seller of sellers; let index=index" (opened)="select(index)" >
                <mat-expansion-panel-header class="seller-slider">
                <mat-panel-title>
                    {{seller.cve}}
                </mat-panel-title>
                <mat-panel-description>
                    {{seller.name}}
                    <!--- <mat-icon>account_circle</mat-icon>!--->
                </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                    <button mat-raised-button color="primary" (click)="showClientsBySeller(index)">Clientes</button>
                </div>
                <div class="acumulated">
                    <label>Acumulado: {{seller.amountAcumulated}}</label>
                    <label>Peso total: {{seller.weightAcumulated}}</label>
                </div>
                <div>
                    <button *ngIf="!isLoading" mat-raised-button color="primary" (click)="downloadSummary(index)">Descargar resumen</button>
                </div>
            </mat-expansion-panel>
            
            </div>
    
        
                <div class="reports">
                    
                    
                <div  class="seller-slider-content">
                    <div><h4>Reportes</h4></div>
                    <div class="date-picker">
                        <form [formGroup]="form3">
                        <mat-form-field appearance="fill" class="datePicker1">
                            <mat-label>Desde:</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="dateStart" >
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="datePicker2">
                            <mat-label>Hasta:</mat-label>
                            <input matInput [matDatepicker]="picker2"  formControlName="dateEnd"  >
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                        </form>
                    </div>
                    <label><strong>Periodo</strong></label>
                    <div class="type-report">
                        <form [formGroup]="form4">
                        <mat-radio-group aria-label="Selecciona un tipo de reporte"  formControlName="rangeType">
                            <mat-radio-button value="day">Por día</mat-radio-button>
                            <mat-radio-button value="week">Por semana</mat-radio-button>
                            <mat-radio-button value="month">Por Mes</mat-radio-button>
                            <mat-radio-button value="year">Por Año</mat-radio-button>
                        </mat-radio-group>
                    </form>
                    </div>
                    <label><strong>Filtros</strong></label>
                    <div class="filters-buttons">

                        <button mat-raised-button (click)="openDialogSellers()">Vendedores</button>
                        <button mat-raised-button (click)="openDialogClients()">Clientes</button>
                        <button mat-raised-button (click)="openDialogProducts()">Productos</button>
                        
                    </div>
                    <div class="filters">
                        
                        <div class="list-sellers">
                            <ul>
                                <li *ngFor="let seller of sellersSelected">
                                    {{seller.name}}
                                </li>
                            </ul>
                        </div>
                        <div class="list-clients">
                            <ul>
                                <li *ngFor="let client of clientsSelected">
                                    {{client.name}}
                                </li>
                            </ul>
                        </div>
                        <div class="list-products">
                            <ul>
                                <li *ngFor="let product of productsSelected">
                                    {{product.name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                 
                
                    
                    <div class="report-selection">
                        
                        <button mat-raised-button color="primary" (click)="downloadReport()" [disabled]="isDownloading">Descargar Reporte de Ventas</button>
                        
                    </div>
                    <div style="width: min-content;margin-left: 47%;" *ngIf="isDownloading">
                        <mat-spinner></mat-spinner>
                    </div>
                    
                </div>
        </div>
    
</div>
